.masonry-content {
  margin: 3.75%;
}

.card-content {
  text-align: start;
  width: -webkit-fill-available;
  padding: 8.75%;
}

.card-image {
  display: flex;
  width: 100%;
}

.card-date {
  font-size: 11px;
  color: #767676;
  padding-top: 3vw;
}

.card-title {
  font-family: Springville;
  font-size: 48px;
  @media (max-width: 1024px) {
    font-size: 36px;
  }
  @media (max-width: 678px) {
    font-size: 24px;
  }
  @media (max-width: 480px) {
    font-size: 18px;
  }
  color: #131313;
  padding: 1vw 0;
}

.card-author {
  font-family: ACaslonPro;
  font-size: 14px;
  color: #131313;
}
